<script>
import { mdiContentCut } from "@mdi/js";
import { mdiChevronUp, mdiChevronDown, mdiHeartOutline } from "@mdi/js";
import { ref } from "vue";
export default {
  data: () => ({
    show: false,
  }),
};
</script>
<template style="color: aqua">
  <v-container>
    <v-container style="background-color: rgb(89, 69, 69)">
      <v-img src="" max-height="200" max-width="100%" cover>
        <v-card-title class="text-center justify-center py-6">
          <h2></h2>
          <h2></h2>
          <h2 class="font-weight-black text-h1 text-yellow">Portfolio</h2>
        </v-card-title>
      </v-img>
    </v-container>

    <v-container style="background-color: rgb(244, 234, 213)">
      <v-row style="background-color: rgb(244, 234, 213)" cols="">
        <v-col cols="3">
          <v-avatar color="info" size="230px">
            <v-img
              src="https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/292806313_1839900376361795_1284090661425632411_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeEUL3sCScNpHNlIKXyMcEDoRAFSyGUTQm1EAVLIZRNCbWrSahr_rmN1by4ERjp025d74E2OgfEJT07zUlZa4dXr&_nc_ohc=wBs5C7AVHwMAX-UoXsH&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfCKOMMBumrQqhMFTEMQLCHfDQLvo7NFk4A5Eo0tctV6NQ&oe=63A39634"
            >
            </v-img>
          </v-avatar>
        </v-col>
        <v-col>
          <v-table style="background-color: rgb(244, 234, 213)">
            <thead>
              <tr>
                <th>
                  <v-img
                    src="https://img.itch.zone/aW1hZ2UvMTUzNzAvNTM5NTcucG5n/original/gEHFVL.png"
                    width="150px"
                  ></v-img>
                </th>
              </tr>
              <tr>
                <td>
                  <p class="font-weight-bold ma-1 text-h6">
                    Name:Sittipol Promjom <br />Nickname:Beer <br />Age:20
                    <br />
                    Date Of Birth:21 September 2545 <br />Height:171 <br />
                    Weight:61
                  </p>
                </td>
              </tr>

              <br />
            </thead>
          </v-table>
        </v-col>
        <v-col cols="4">
          <v-table style="background-color: rgb(244, 234, 213)">
            <thead>
              <tr>
                <th>
                  <v-img
                    src="https://cdn5.vectorstock.com/i/1000x1000/95/24/social-media-pink-blue-color-word-text-logo-icon-vector-23049524.jpg"
                    width="160px"
                  ></v-img>
                </th>
              </tr>
              <tr>
                <td>
                  <br />
                  <v-btn herf="https://www.canva.com/th_th/">
                    <v-img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1024px-Facebook_Logo_%282019%29.png"
                      width="30px"
                    ></v-img>
                  </v-btn>
                  <p class="font-weight-bold ma-1 text-h8">
                    Facebook : Sittipol PJ
                  </p>
                  <br />
                  <v-btn herf="https://www.canva.com/th_th/">
                    <v-img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/LINE_New_App_Icon_%282020-12%29.png/800px-LINE_New_App_Icon_%282020-12%29.png"
                      width="30px"
                    ></v-img>
                  </v-btn>
                  <p class="font-weight-bold ma-1 text-h8">Line : beeraz_mp</p>
                  <br />
                  <v-btn herf="https://www.canva.com/th_th/">
                    <v-img
                      src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png"
                      width="30px"
                    ></v-img>
                  </v-btn>
                  <p class="font-weight-bold ma-1 text-h8">
                    Instagram : sbeerpj
                  </p>
                </td>
              </tr>

              <br />
            </thead>
          </v-table>
        </v-col>
      </v-row>
      <v-row style="background-color: rgb(208, 184, 168)">
        <v-col>
          <h2>-----------------------------------</h2>
          <v-img
            src="https://i.pinimg.com/originals/6e/fc/e7/6efce734427b1198de0f36d9a4f2365f.gif"
            width="100px"
          ></v-img>
          <h2>-----------------------------------</h2>
        </v-col>
        <v-col>
          <h2>-----------------------------------</h2>
          <v-img
            src="https://i.pinimg.com/originals/6e/fc/e7/6efce734427b1198de0f36d9a4f2365f.gif"
            width="100px"
          ></v-img>
          <h2>-----------------------------------</h2>
        </v-col>
        <v-col>
          <h2>-----------------------------------</h2>
          <v-img
            src="https://i.pinimg.com/originals/6e/fc/e7/6efce734427b1198de0f36d9a4f2365f.gif"
            width="100px"
          ></v-img>
          <h2>-----------------------------------</h2>
        </v-col>
      </v-row>
    </v-container>
    <v-spacer></v-spacer>
    <v-container style="background-color: rgb(244, 234, 213)">
      <v-row>
        <v-col>
          <v-img
            src="https://media.discordapp.net/attachments/759416976765616142/1052985769968549968/image.png"
            width="250px"
          ></v-img>
        </v-col>
      </v-row>
      <v-row cols="3">
        <v-col>
          <v-card>
            <v-img
              src="https://bemis.bangkok.go.th/api/file/1f02a56c-98aa-4cc7-8b5c-1f5064c51971.jpg"
              alt="Beer"
              max-height="200%"
              max-width="100%"
              cover
            >
            </v-img>
            <v-card-item>
              <div>Watsuwan School</div>
            </v-card-item>

            <v-expand-transition>
              <div v-show="show">
                <v-divider></v-divider>

                <v-card-text>
                  โรงเรียนวัดสุวรรณ <br />
                  ที่อยู่: 27 เจริญนคร 9 Charoennakorn Rd, Khlong Ton Sai,
                  Clongsan District , Bangkok 10600 <br />
                  2008 - 2009 อนุบาลศึกษา <br />
                  2009 - 2015 นักเรียนชั้นประถมศึกษา
                </v-card-text>
              </div>
            </v-expand-transition>
          </v-card>
        </v-col>
        <v-row>
          <v-col>
            <v-card>
              <v-img
                src="https://i.ytimg.com/vi/oZYRhvOHVn8/hqdefault.jpg"
                alt="Beer"
                max-height="200%"
                max-width="100%"
                cover
              >
              </v-img>
              <v-card-item>
                <div>Saharajransarid School</div>
              </v-card-item>
              <v-expand-transition>
                <div v-show="show">
                  <v-divider></v-divider>

                  <v-card-text>
                    โรงเรียนสหราษฎร์รังสฤาดิ์ <br />
                    ที่อยู่: 232 Srisongkhram Rd, Srisongkhram, Srisongkhram
                    District, Nakhon Phanom 48150 <br />
                    2015 - 2020 นักเรียนชั้นมัธยมศึกษา
                  </v-card-text>
                </div>
              </v-expand-transition>
            </v-card>
          </v-col>
          <v-col>
            <v-card>
              <v-img
                src="https://www.informatics.buu.ac.th/2020/wp-content/uploads/2018/11/buu_eng_transparent_grey_gold.png"
                alt="Beer"
                max-height="200%"
                max-width="100%"
                cover
              >
              </v-img>
              <v-card-item>
                <div>Burapha University</div>
              </v-card-item>

              <v-expand-transition>
                <div v-show="show">
                  <v-divider></v-divider>

                  <v-card-text>
                    มหาวิทยาลัยบูรพา <br />
                    ที่อยู่: 169 Long Had Bangsaen Rd, Saen Suk, Chon Buri
                    District, Chon Buri 20131 <br />
                    2021 - 2022 นักศึกษาชั้นปีที่ 1 <br />
                    2022 - ปัจจุบัน นักศึกษาชั้นปีที่ 2
                  </v-card-text>
                </div>
              </v-expand-transition>
            </v-card>
          </v-col>
        </v-row>
      </v-row>
      <v-row>
        <v-col>
          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn
              @click="show = !show"
              color="green-lighten-1"
              variant="text"
              style="font-size: 20px"
              >อ่านเพิ่มเติม</v-btn
            >
          </v-card-actions>
        </v-col>
        <v-row style="background-color: rgb(208, 184, 168)">
          <v-col>
            <h2>-----------------------------------</h2>
            <v-img
              src="https://media3.giphy.com/media/GeimqsH0TLDt4tScGw/giphy.gif"
              width="100px"
            ></v-img>
            <h2>-----------------------------------</h2>
          </v-col>
          <v-col>
            <h2>-----------------------------------</h2>
            <v-img
              src="https://media3.giphy.com/media/GeimqsH0TLDt4tScGw/giphy.gif"
              width="100px"
            ></v-img>
            <h2>-----------------------------------</h2>
          </v-col>
          <v-col>
            <h2>-----------------------------------</h2>
            <v-img
              src="https://media3.giphy.com/media/GeimqsH0TLDt4tScGw/giphy.gif"
              width="100px"
            ></v-img>
            <h2>-----------------------------------</h2>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-img
              src="https://thumbs.dreamstime.com/b/hobbies-activity-amusement-freetime-interest-concept-74926992.jpg"
              width="250px"
            ></v-img>
          </v-col>
        </v-row>
      </v-row>
      <v-row>
        <v-col>
          <div class="d-flex align-center flex-column">
            <div class="text-subtitle-2 font-weight-bold text-h2">Sport</div>

            <v-card width="400" title="Badminton" subtitle=": I Love Badminton">
              <v-img
                src="https://i.pinimg.com/736x/64/18/41/641841e6c5d12eed7ec469d3caacadd0.jpg"
                cover
                max-height="200%"
                max-width="100%"
              ></v-img
            ></v-card>
          </div>
        </v-col>

        <v-col>
          <div class="d-flex align-center flex-column">
            <h1 class="text-subtitle-2 font-weight-bold text-h2">Music</h1>

            <v-card
              width="400"
              title="Slot Machine"
              subtitle=": คําตอบ-Slot Machine => recommend"
            >
              <v-img
                src="https://dynamicmedia.livenationinternational.com/e/i/k/4cc0a486-2f41-4d20-986f-01d85178910b.png"
                cover
                max-height="200%"
                max-width="100%"
              >
              </v-img>
            </v-card>
          </div>
        </v-col>
      </v-row>
      <br /><br />
    </v-container>
    <v-container style="background-color: rgb(89, 69, 69)">
      <v-img src="" max-height="200" max-width="100%" cover>
        <v-card-title class="text-center justify-center py-6">
          <h2></h2>
          <h2></h2>
          <h2 class="font-weight-black text-h1 text-yellow"></h2>
        </v-card-title>
      </v-img>
    </v-container>
  </v-container>
</template>
